### 1. Импортируйте библиотеки для работы с данными

In [3]:
#импортируйте numpy и pandas
import pandas as pd
import numpy as np

###  2. Загрузите данные в рабочее пространство

In [7]:
car_sales = pd.read_csv('/Users/timofey/Бауманка/2024 осень/DS/ЛР1/Car_sales.csv', sep=',')

In [8]:
car_sales

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

### 3. Выведите названия столбцов

In [41]:
for idx, column in enumerate(car_sales.columns, 1):
    print(f'{idx:2}. {column}')

 1. Manufacturer
 2. Model
 3. Sales_in_thousands
 4. __year_resale_value
 5. Vehicle_type
 6. Price_in_thousands
 7. Engine_size
 8. Horsepower
 9. Wheelbase
10. Width
11. Length
12. Curb_weight
13. Fuel_capacity
14. Fuel_efficiency
15. Latest_Launch
16. Power_perf_factor

###  4. Выведите информацию о размере данных

In [17]:
car_sales.shape

(157, 16)

In [30]:
print(f'Кол-во строк: {car_sales.shape[0]}\nКол-во столбцов: {car_sales.shape[1]}')

Кол-во строк: 157
Кол-во столбцов: 16

###  5. Выведите первые 20 строк

In [42]:
car_sales.head(20)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,8/9/2011,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2/27/2012,134.656858
7,BMW,323i,19.747,NaN,Passenger,26.990,2.5,170.0,107.3,68.4,176.0,3.179,16.6,26.0,6/28/2011,71.191207
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,1/29/2012,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,4/4/2011,83.998724
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,11/2/2011,71.181451
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,9/3/2011,95.636703
12,Buick,Park Avenue,27.851,20.190,Passenger,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,3/23/2012,85.828408
13,Buick,LeSabre,83.257,13.360,Passenger,27.885,3.8,205.0,112.2,73.5,200.0,3.591,17.5,25.0,7/23/2011,84.254526
14,Cadillac,DeVille,63.729,22.525,Passenger,39.895,4.6,275.0,115.3,74.5,207.2,3.978,18.5,22.0,2/23/2012,113.854598
15,Cadillac,Seville,15.943,27.100,Passenger,44.475,4.6,275.0,112.2,75.0,201.0,NaN,18.5,22.0,4/29/2011,115.621358
16,Cadillac,Eldorado,6.536,25.725,Passenger,39.665,4.6,275.0,108.0,75.5,200.6,3.843,19.0,22.0,11/27/2011,113.765874
17,Cadillac,Catera,11.185,18.225,Passenger,31.010,3.0,200.0,107.4,70.3,194.8,3.770,18.0,22.0,9/28/2011,83.483094
18,Cadillac,Escalade,14.785,NaN,Car,46.225,5.7,255.0,117.5,77.0,201.2,5.572,30.0,15.0,4/17/2012,109.509117
19,Chevrolet,Cavalier,145.519,9.250,Passenger,13.260,2.2,115.0,104.1,67.9,180.9,2.676,14.3,27.0,8/17/2011,46.363347

###  6. Найдите уникальные значения столбцов Manufacturer, Model, Vehicle_type

In [45]:
car_sales['Manufacturer'].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'Honda', 'Hyundai', 'Infiniti',
       'Jaguar', 'Jeep', 'Lexus', 'Lincoln', 'Mitsubishi', 'Mercury',
       'Mercedes-B', 'Nissan', 'Oldsmobile', 'Plymouth', 'Pontiac',
       'Porsche', 'Saab', 'Saturn', 'Subaru', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [46]:
car_sales['Model'].unique()

array(['Integra', 'TL', 'CL', 'RL', 'A4', 'A6', 'A8', '323i', '328i',
       '528i', 'Century', 'Regal', 'Park Avenue', 'LeSabre', 'DeVille',
       'Seville', 'Eldorado', 'Catera', 'Escalade', 'Cavalier', 'Malibu',
       'Lumina', 'Monte Carlo', 'Camaro', 'Corvette', 'Prizm', 'Metro',
       'Impala', 'Sebring Coupe', 'Sebring Conv.', 'Concorde', 'Cirrus',
       'LHS', 'Town & Country', '300M', 'Neon', 'Avenger', 'Stratus',
       'Intrepid', 'Viper', 'Ram Pickup', 'Ram Wagon', 'Ram Van',
       'Dakota', 'Durango', 'Caravan', 'Escort', 'Mustang', 'Contour',
       'Taurus', 'Focus', 'Crown Victoria', 'Explorer', 'Windstar',
       'Expedition', 'Ranger', 'F-Series', 'Civic', 'Accord', 'CR-V',
       'Passport', 'Odyssey', 'Accent', 'Elantra', 'Sonata', 'I30',
       'S-Type', 'Wrangler', 'Cherokee', 'Grand Cherokee', 'ES300',
       'GS300', 'GS400', 'LS400', 'LX470', 'RX300', 'Continental',
       'Town car', 'Navigator', 'Mirage', 'Eclipse', 'Galant', 'Diamante',
       '3000GT', 'Montero', 'Montero Sport', 'Mystique', 'Cougar',
       'Sable', 'Grand Marquis', 'Mountaineer', 'Villager', 'C-Class',
       'E-Class', 'S-Class', 'SL-Class', 'SLK', 'SLK230', 'CLK Coupe',
       'CL500', 'M-Class', 'Sentra', 'Altima', 'Maxima', 'Quest',
       'Pathfinder', 'Xterra', 'Frontier', 'Cutlass', 'Intrigue', 'Alero',
       'Aurora', 'Bravada', 'Silhouette', 'Breeze', 'Voyager', 'Prowler',
       'Sunfire', 'Grand Am', 'Firebird', 'Grand Prix', 'Bonneville',
       'Montana', 'Boxter', 'Carrera Coupe', 'Carrera Cabrio', '5-Sep',
       '3-Sep', 'SL', 'SC', 'SW', 'LW', 'LS', 'Outback', 'Forester',
       'Corolla', 'Camry', 'Avalon', 'Celica', 'Tacoma', 'Sienna', 'RAV4',
       '4Runner', 'Land Cruiser', 'Golf', 'Jetta', 'Passat', 'Cabrio',
       'GTI', 'Beetle', 'S40', 'V40', 'S70', 'V70', 'C70', 'S80'],
      dtype=object)

In [47]:
car_sales['Vehicle_type'].unique()

array(['Passenger', 'Car'], dtype=object)

### 7. Найдите число уникальных значений столбцов Manufacturer, Model, Vehicle_type

In [48]:
car_sales['Manufacturer'].nunique()

30

In [49]:
car_sales['Model'].nunique()

156

In [50]:
car_sales['Vehicle_type'].nunique()

2

###  8. Выведите датафрейм при Horsepower > 160

In [52]:
car_sales[car_sales['Horsepower'] > 160]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,8/9/2011,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2/27/2012,134.656858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Toyota,Land Cruiser,9.835,34.080,Car,51.728,4.7,230.0,112.2,76.4,192.5,5.115,25.4,15.0,9/25/2011,102.528984
153,Volvo,S70,15.245,NaN,Passenger,27.500,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.800,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.500,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

###  9. Выполните срез фрейма из предыдущего задания для столбцов Manufacturer, Model, Vehicle_type, Horsepower

In [53]:
car_sales[car_sales['Horsepower'] > 160].loc[:, ['Manufacturer', 'Model', 'Vehicle_type', 'Horsepower']]

    Manufacturer         Model Vehicle_type  Horsepower
1          Acura            TL    Passenger       225.0
2          Acura            CL    Passenger       225.0
3          Acura            RL    Passenger       210.0
5           Audi            A6    Passenger       200.0
6           Audi            A8    Passenger       310.0
..           ...           ...          ...         ...
144       Toyota  Land Cruiser          Car       230.0
153        Volvo           S70    Passenger       168.0
154        Volvo           V70    Passenger       168.0
155        Volvo           C70    Passenger       236.0
156        Volvo           S80    Passenger       201.0

[102 rows x 4 columns]